.container {
  width: 100%;
  margin: 7px;
}

.flexRow {
  display: flex;
  flex-flow: row nowrap;
}

.header {
  font-size: 16px;
  font-weight: bold;
}

.beverageQueueItem {
  margin: 7px;
}

.queueItems {
  width: 99%;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 7px 3px 3px 7px;
  min-height: 500px;
  padding: 20px;
}

.Item1 {
  width: 33%;
}

.Item2 {
  width: 33%;
}
.Item3 {
  width: 33%;
}

.beverageName {
  padding: 10px;
  background: #ff9292;
}

.userName {
  padding: 5px;
  background: #d3d3d3;
}

@media only screen and (max-width: 600px) {
  .Item1 {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
  }

  .Item2 {
    order: 2;
    width: 100%;
    margin-bottom: 20px;
  }

  .Item3 {
    order: 3;
    width: 100%;
    margin-bottom: 20px;
  }

  .flexRow,
  .queueItems {
    display: block;
  }

  .container {
    margin: 0px;
  }
}
