.container {
  width: 100;
  margin: 7px;
}

.header {
  font-size: 16px;
  font-weight: bold;
}

.menuItemList {
  width: 100%;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 7px 3px 3px 7px;
  min-height: 500px;
  padding: 20px;
}

.menuItem {
  padding: 10px;
  background: #9ae2ff;
  margin-bottom: 10px;
  border-radius: 5px;
  color: black;
}

.confirmText {
  font-size: 23px;
  font-weight: bold;
}
