.App {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
}

.leftMenu {
  width: 30%;
  order: 1;
}

.body {
  width: 70%;
  order: 2;
}

@media only screen and (max-width: 600px) {
  .leftMenu {
    order: 2;
    width: 100% !important;
  }

  .body {
    order: 1;
    width: 100% !important;
  }
  .App {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10px;
    display: block;
  }
}
