.base {
  float: left;
  width: 100%;
  height: 100vh;
}

.form {
  width: 40%;
  border: 1px solid #000;
  height: auto;
  padding: 25px;
  margin: 0 auto;
  float: left;
  position: relative;
  left: 30%;
}

.flexRow {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: 0 auto;
  float: left;
}

.name {
  width: 30%;
  margin-bottom: 20px;
}

.input {
  width: 70%;
}

.select {
  width: 70%;
}

.button {
  float: right;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}

.alignmentContent {
  position: relative;
  top: 20%;
}

@media only screen and (max-width: 600px) {
  .form {
    width: 100%;
    border: 1px solid #000;
    height: auto;
    padding: 25px;
    margin: 0 auto;
    float: left;
    position: relative;
    left: 0%;
  }

  .base {
    float: left;
    width: 100%;
    height: 100vh;
    padding: 20px;
  }
}
